rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Visits collection: Public visitors can record their guest visits, read and managed by Posbakum system
    match /visits/{visitId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if true;
    }

    // Logs collection
    match /activity_logs/{logId} {
      allow read: if true;
      allow write: if true;
    }

    // QR tokens & Desk settings
    match /qr_tokens/{tokenId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
